ion-button{
    text-align: center;
    margin-top: 50px;
    
 
}

ion-img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ion-content{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-title{
    margin-top: 80px;
    size: 150px;
}