<ion-header >
  <ion-toolbar color = "secondary">
    <ion-title>Recommedation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding color = "primary">

  <ion-list color = "secondary" >
    <ion-radio-group color = "secondary"  >
      <ion-list-header color = "secondary">
        <ion-label  color = "tertiary">Select one exercise you like best</ion-label>
      </ion-list-header>
      <ion-item color = "secondary" *ngFor = "let e of exercise" >
        <ion-label >{{e}}</ion-label>
        <ion-radio slot="end" color ="primary"  (click) = "selectExercise(e)" ></ion-radio>
      </ion-item>
      </ion-radio-group>
  </ion-list>

  


</ion-content>

