<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Recommedation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
  <ion-list color="secondary"  >
    <ion-radio-group color="secondary" [(ngModel)] = "selection">
      <ion-list-header color="secondary">
        <ion-label >Select one food you like best</ion-label>
      </ion-list-header>
      <ion-item color="secondary" *ngFor="let item of food">
        <ion-label color="primary">{{item}}</ion-label>
        <ion-radio value = {{item}} slot="end" color="secondary"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button
    shape="round"
    color="secondary"
    style="margin: auto; margin-top: 20px;"
    (click)="foodSelect()"
  >
    Submit</ion-button
  >
</ion-content>
