<ion-header text-wrap>
  <ion-toolbar color = "secondary">
    <ion-title style="  position: static">
      Questionaire 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color = "primary">
  <ion-list *ngFor = "let item of questions" color = "secondary">
    <ion-radio-group color = "secondary" multiple="true">
      <ion-list-header color = "secondary" >
        <ion-label color = "tertiary">{{item.question}}</ion-label>
      </ion-list-header>
      <ion-item  color = "secondary"  *ngFor = "let an of item.answer | keyvalue" (click) = "storeValue(item, an.value)">
        <ion-label>{{an.key}}</ion-label>
        <ion-radio  required color = "tertiary" value = {{an.key}} slot="end" ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button style = "margin-top: 20px;"shape="round" color = "secondary" (click) = "btnOnClick();" > Submit</ion-button>
    
</ion-content>
