<ion-header >
  <ion-toolbar color = "tertiary">
    <ion-title>
      Questionaire 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color = "primary">
  <ion-list  *ngFor = "let item of questions" color = "secondary"  >
    <ion-radio-group color = "secondary"  [(ngModel)] = "selection"  multiple="true">
      <ion-list-header color = "secondary" >
        <ion-label color = "success">{{item.question}}</ion-label>
      </ion-list-header>
      <ion-item  color = "success"  *ngFor = "let an of item.answer"  >
        <ion-label>{{an}}</ion-label>
        <ion-radio value = {{an}} slot="end" color ="secondary"></ion-radio>
      </ion-item>
      </ion-radio-group>
  </ion-list>
  <ion-button shape="round" color = "secondary" (click) = "recommedation()" > Submit</ion-button>
    
</ion-content>
