
<ion-header >
  <ion-toolbar color = "tertiary">
   
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "primary">
  <ion-card color = "tertiary">
    <ion-card-header >
      
      <ion-card-subtitle > Your best fitness advisor</ion-card-subtitle>
      <ion-card-title style ="color: #874903"> UCIFitness</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <p><strong>First Step:</strong> Fill the questionaire</p>
      <p><strong>Second Step:</strong> Get the recommedation</p>
      <p><strong>Third Step:</strong> provide feedback </p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
