<ion-header text-wrap>
  <ion-toolbar color = "secondary">
    <ion-title style="  position: static">
      Personal Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "primary">
  <ion-item color= "primary" >
    <ion-label position = "floating" >Height: {{height}}</ion-label>
  </ion-item>
  <ion-item color = "primary">
    <ion-label position = "floating" >Weight: {{weight}} </ion-label>
  </ion-item>
  <ion-item color = "primary">
    <ion-label position = "floating" >Age: {{age}}</ion-label>
  </ion-item>
  <ion-item color = "primary">
    <ion-label position = "floating" >Gender: {{gender}} </ion-label>
  </ion-item>

  <ion-item color = "primary">
    <ion-label position = "floating" >Experience: {{experience}} </ion-label>
  </ion-item>
    
</ion-content>
