

<ion-content color = primary>
  
  <h1>Personal Infomation</h1>
  <br><br>
  <ion-list>                                                            
    <ion-item color ="primary">
      <ion-label  position = "fixed" color="secondary" >Height(cm):</ion-label>
      <ion-input color="secondary" [(ngModel)]= "h" type="number"></ion-input>
    </ion-item>

    <ion-item color ="primary">
      <ion-label color="secondary" position = "fixed" >Weight(km):</ion-label>
      <ion-input color="secondary" [(ngModel)]= "w" type="number"></ion-input>
    </ion-item>
      
    <ion-item color ="primary">
      <ion-label color="secondary" position = "fixed" >Age:</ion-label>
      <ion-input color="secondary" [(ngModel)]= "a" type="number"></ion-input>
    </ion-item>

    <ion-item color ="primary">
      <ion-label color="secondary" position = "fixed">Gender:</ion-label>
      <ion-input color="secondary" [(ngModel)]= "g" type="number"></ion-input>
    </ion-item>

    <ion-item color ="primary">
      <ion-label color="secondary" position = "fixed">Experience: </ion-label>
      <ion-input color="secondary" [(ngModel)]= "e" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button  shape="round" color = "secondary" (click) = "jumptoHome()">Save</ion-button>


  
 
</ion-content>
