<ion-content text-center color="primary">
  <h1>Personal Information</h1>
  <br /><br />
  <ion-list>
    <ion-item color="primary">
      <ion-label position="fixed" >Height(in): </ion-label>
      <ion-input
        text-right
     
        [(ngModel)]="h"
        type="number"
        pattern="[0-9]+"
        decimal="true"
        allow-multiple-decimals="true"
        minlength="0"
        maxlength="10"
        button-char=","
        decimal-char="."
      ></ion-input>
    </ion-item>

    <ion-item color="primary">
      <ion-label position="fixed">Weight(lb):</ion-label>
      <ion-input
        text-right
    
        [(ngModel)]="w"
        type="number"
        pattern="[0-9]+"
        decimal="true"
        allow-multiple-decimals="true"
        minlength="0"
        maxlength="10"
        button-char=","
        decimal-char="."
      ></ion-input>
    </ion-item>

    <ion-item color="primary">
      <ion-label  position="fixed">Age:</ion-label>
      <ion-input
        text-right
  
        [(ngModel)]="a"
        type="number"
        pattern="[0-9]+"
        decimal="true"
        allow-multiple-decimals="true"
        minlength="0"
        maxlength="10"
        button-char=","
        decimal-char="."
      ></ion-input>
    </ion-item>

    <ion-item color="primary">
      <ion-label>Experience level: </ion-label>
      <ion-select text-right interface="popover" [(ngModel)]="e">
        <ion-select-option value="Beginner">Beginner</ion-select-option>
        <ion-select-option value="Intermediate">Intermediate</ion-select-option>
        <ion-select-option value="Expert">Advanced</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="primary">
      <ion-label>Gender: </ion-label>
      <ion-select text-right interface="popover" [(ngModel)]="g">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
        <ion-select-option value="notsay">Prefer not to say</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button shape="round" color="secondary" (click)="submitBtnOnClick()"
    >Save</ion-button
  >
</ion-content>
